eng-code {
  .language-title {
    padding: 6px 0 6px 10px;
    width: 100%;
    .btn {
      padding: .000rem .75rem;
      margin-right: 5px;
      background-color: #0b2e13;
      color: white;
    }
  }
}
